azure-storage-blob
beautifulsoup4
boto3
colorama
cryptography
dnspython
fuzzywuzzy
python-Levenshtein
matplotlib
numpy
progress
protobuf
python-dotenv
python-nmap
reportlab
requests
scipy
seaborn
selenium
tqdm
google-cloud-storage
